// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';


// Custom code goes here..

// Basic color definitions
$base-color: #333;
$base-gradient: 'matte';
$active-color: #36B8FF;
 
// Toolbar styles
$toolbar-base-color: #444;
 
// List styles
$list-header-bg-color : #ABE2FF;
 
@import 'sencha-touch/default/all';
 
// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;
@include sencha-list-pullrefresh;



// Examples of using the icon mixin:
// @include icon('user');





/****************************** Place List ******************************/ 

.placelist.x - list - emptytext {
  font - size: 14px;
  color: #fff;
  padding: 20px;
}
 
.x - list.placelist.x - list - item.x - dock - horizontal {
  border: 0!important;
}
 
.x - list.placelist.x - list - item.item {
  /*                background: rgba(255, 255, 255, 0.8);
                                    font-size: 14px;
                                    padding: 8px;*/
 
  /*                background: rgba(255, 255, 255, 0.8);*/
  background: -webkit - gradient(linear, left top, left bottom, color - stop(0 % , #ffffff), color - stop(47 % , #f6f6f6), color - stop(100 % , #ededed)); /* Chrome,Safari4+ */
  background: -webkit - linear - gradient(top, #ffffff 0 % , #f6f6f6 47 % , #ededed 100 % ); /* Chrome10+,Safari5.1+ */
  font - size: 14px;
  border - radius: 5px;
  padding: 8px; - webkit - box - shadow: 0 0 10px 2px rgba(0, 0, 0, 0.6);
  padding - right: 82px;
}
 
.x - list.placelist.x - list - item.item.name {
  font - weight: bold;
  margin: 3px 0 8px 0;
}
 
.x - list.placelist.x - list - item.item.vicinity {
  font - size: 12px;
  color: #222;
    margin-bottom: 10px;
}
 
.x-list.placelist .x-list-item .item .rating{
 
}
 
.x-list.placelist .x-list-item .photo,
.x-list.placelist .x-list-item .icon-wrapper{
    position: absolute;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    right: 25px;
    top: 6px;
}
 
.x-list.placelist .x-list-item .photo img{
    max-width: 75px;
    max-height: 63px;
    border: 2px solid white;
    -webkit-box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
    background: black;
}
 
.x-list.placelist .x-list-item .icon-wrapper{
    background: # 960000;
  border: 2px solid white; - webkit - box - shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
}
 
.x - list.placelist.x - list - item.icon {
  width: 50px;
  height: 50px;
  background: white; - webkit - mask - image: url(http: //maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png);
  -
  webkit - mask - size: 35px; - webkit - mask - repeat: no - repeat; - webkit - mask - position: 50 % ;
  }
 
  /****************************** Place List ENDS ******************************/
</code>
 
<p>We can add a pull-to-refresh plugin to this place list. Just add the code below in the <strong>PlaceList</strong> array config.</p>
 
<code>
plugins: [{
  xclass: 'Ext.plugin.PullRefresh',
  pullRefreshText: Lang.placeList.pullToRefresh
}]</pre>
And because we are using a dark background, we need to change the pull-to-refresh css a bit. So, add following css in locator.css file:
<pre lang="css">/* Pull to refresh plugin */
.x-list-pullrefresh {
  color: #fff;
}
 
.x-list-pullrefresh-arrow {
  -webkit - mask: center center url(data: image / png; base64, iVBORw0KGgoAAAANSUhEUgAAACgAAAA8CAYAAAAUufjgAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAjFJREFUeNrsmU8oREEYwOexdtNuKBfFwdVhCyfuysnFiXISS + 1BLopyUpKLXETkRLaUi1LK3Q2lpPbiQLnIn03a / Hm + z86Ttv0zM++bfbOar36Hbad5v535Zp7v47iuy0wOpyoEHccRHV9L9NxPkUE / bhKCOKiOSPAdn69DsJ5I8E2HYA0QJRJ8Bb50CDYRCT7pEMQD0kwk + CByUFQEW4gE73UIhoA2IsFb4ENEMCQ5MdU1IxwygpT3oKNLMGyyYFVscdhusc8tDpu + xRG7xf95BW0O2kNiV1AgIvaQ2BzUJNgJNJYZGyUU7OG1cal4Bi68oqkDPszy2teEwJp5Cdyu / lZ1g8CwIYJ7wEF + 2YmrNw90Byx3BizgKhaqizEP1wg7CLLxCEzy / CtauMeBlQDyEfNuGrgU6SyM8F9SyVgHdmRaH6tAb4XkToEp2d4M5mOK0TWMigU2koa8vJMRZPxEb2ss2LEVPMpPLlMRxBgDZjQJLgNbxb6Uab9tAn3EcifAeKkBMoLY + j0GWonk7oB + lmsFkwhidAGHBPmIeTcAnJcbKCuIMQEs + hScAzZEBqoIYuzyFVCJI36lMJ2CDfxibZeUu + EX / 4uMIFP8ZyLejxkgK0hG5a8kP4IYSZbr1IuQVHmAX0HGX4VuGfZVJ6cQxPd1uoRcWqDW0SroFVzZAnJZ / h0LWhAjUUAw4XdSSsH8fExRTEgtGAOuOTETBb16Jk412e + bxOSwglYw6PgWYABvLk8P7zGJFwAAAABJRU5ErkJggg == ) no - repeat;
  background: #fff;
}
